<h1 id="header">Blackjack</h1>
<div class="btn_div">
  <button id="start" data-label="DEAL">STARt</button>
</div>
<div id="sub_buttons">
  <button id="restart">Restart</button>
  <button id="hit"disabled="disabled">hit</button>
  <button id="stay"disabled="disabled">Stay</button>
</div>
<h1>Your Cards</h1>
<div id="player-cards"></div>
<h2>Your Hand Value</h2>
<div id="player-number"></div>
<h1>Dealer Cards</h1>
<div id="dealer-cards"></div>
<h2>Dealer's Hand Value</h2>
<div id="dealer-number"></div>

<script>
window.onload = function() {
  $( "#restart" ).trigger( "click" );
};
var pAces=0
var dAces=0
function playerBust(playerNumber) {
    if(playerNumber>21){
      alert("Your Over 21! You Lose.");
      $("#stay").attr('disabled', true)
      $("#hit").attr('disabled',true)
      return false
    }
}
function playerAces(playerNumber,aces) {
  console.log(aces+" total aces");
    if(playerNumber>21 && aces>0){
      alert("GOT A ACE!");
      var playerNumber=parseInt($("#player-number").text())
      $('#player-number').empty();
      $("#player-number").prepend(playerNumber-10);
      pAces-=1
      return false
    }else{
      playerBust(playerNumber)
    }
}
function dealerAces(dealerNumber,aces) {
  console.log(aces+" total aces");
    if(dealerNumber>21 && aces>0){
      var dealerNumber=parseInt($("#dealer-number").text())
      $('#dealer-number').empty();
      $("#dealer-number").prepend(dealerNumber-10);
      dAces-=1
      return false
    }else{
      alert("You Win!!!")
    }
}
$("#start").click(function(){
  $("#hit").removeAttr('disabled')
  $("#stay").removeAttr('disabled')
  $("#start").addClass("loading")
  $("#start").attr('disabled','disabled')
  var pCard1=null
  var pCard2=null
  // *********************************GET PLAYER CARDS****************************************
  $.ajax({
    type: "GET",
    url: "/deal",
    async: false,
    dataType:"json",
    success:function(data) {
      console.log(data);
      pCard1=data[0]
      pCard2=data[1]
      dCard=data[2]
      return false;
    },
    error:function(data) {
      console.log(data);
      return false;
    }
  });
  // *********************************SHOW PLAYER CARDS****************************************
  if (pCard1.id <100) {
    $("<img>", { src: "/system/cards/pictures/000/000/0"+pCard1.id+"/original/"+pCard1.picture_file_name }).prependTo("#player-cards");
  } else {
    // $("#player-cards").prepend("<img src='/system/cards/pictures/000/000/0'"+pCard1.id+"'/original/'"+pCard1.picture_file_name+"'> ");
    $("<img>", { src: "/system/cards/pictures/000/000/"+pCard1.id+"/original/"+pCard1.picture_file_name }).prependTo("#player-cards");
  }
  if (pCard2.id.toString().length==1) {
    $("<img>", { src: "/system/cards/pictures/000/000/00"+pCard2.id+"/original/"+pCard2.picture_file_name }).prependTo("#player-cards");
  } else {
    // $("#player-cards").prepend("<img src='/system/cards/pictures/000/000/0'"+pCard1.id+"'/original/'"+pCard1.picture_file_name+"'> ");
    $("<img>", { src: "/system/cards/pictures/000/000/0"+pCard2.id+"/original/"+pCard2.picture_file_name }).prependTo("#player-cards");
  }
  if (dCard.id <100) {
    $("<img>", { src: "/system/cards/pictures/000/000/0"+dCard.id+"/original/"+dCard.picture_file_name }).prependTo("#dealer-cards");
  } else {
    // $("#player-cards").prepend("<img src='/system/cards/pictures/000/000/0'"+pCard1.id+"'/original/'"+pCard1.picture_file_name+"'> ");
    $("<img>", { src: "/system/cards/pictures/000/000/"+dCard.id+"/original/"+dCard.picture_file_name }).prependTo("#dealer-cards");
  }
  // *********************************SHOW PLAYER CARDS VALUE****************************************
   if (pCard1.value==11){
     pAces+=1;
   }
   if (pCard2.value==11){
     pAces+=1;
   }
   if (dCard.value==11){
     dAces+=1;
   }
   console.log(pAces+"deal");
   $("#player-number").prepend(pCard1.value+pCard2.value);
   $("#dealer-number").prepend(dCard.value);

});
// *********************************HIT****************************************

$("#hit").click(function(){
  console.log(pAces);
  var pCard=null
  // *********************************GET PLAYER CARD****************************************
  $.ajax({
    type: "GET",
    url: "/hit",
    async: false,
    dataType:"json",
    success:function(data) {
      console.log(data);
      pCard=data[0]
      return false;
    },
    error:function(data) {
      console.log(data);
      return false;
    }
  });
  // *********************************SHOW PLAYER CARDS****************************************
  if (pCard.id <100) {
    $("<img>", { src: "/system/cards/pictures/000/000/0"+pCard.id+"/original/"+pCard.picture_file_name }).prependTo("#player-cards");
  } else {
    // $("#player-cards").prepend("<img src='/system/cards/pictures/000/000/0'"+pCard1.id+"'/original/'"+pCard1.picture_file_name+"'> ");
    $("<img>", { src: "/system/cards/pictures/000/000/"+pCard.id+"/original/"+pCard.picture_file_name }).prependTo("#player-cards");
  }
  // *********************************SHOW PLAYER CARDS VALUE****************************************
   var playerNumber=parseInt($("#player-number").text())
   $('#player-number').empty();
   $("#player-number").prepend(playerNumber+pCard.value);
   if (pCard.value==11){
     pAces+=1;
   }
   playerAces(parseInt($("#player-number").text()),pAces)
});

// *********************************GET DEALER CARDS****************************************
$("#stay").click(function(){
  $("#hit").attr('disabled', true)
  var dealer_number=0
  while (dealer_number < parseInt($("#player-number").text()) ) {
    var pCard=null
    // *********************************GET CARD****************************************
    $.ajax({
      type: "GET",
      url: "/dealer",
      async: false,
      dataType:"json",
      success:function(data) {
        console.log(data);
        pCard=data[0]
        return false;
      },
      error:function(data) {
        console.log(data);
        return false;
      }
    });
    // *********************************SHOW CARDS****************************************
    if (pCard.id <100) {
      $("<img>", { src: "/system/cards/pictures/000/000/0"+pCard.id+"/original/"+pCard.picture_file_name }).prependTo("#dealer-cards");
    } else {
      // $("#player-cards").prepend("<img src='/system/cards/pictures/000/000/0'"+pCard1.id+"'/original/'"+pCard1.picture_file_name+"'> ");
      $("<img>", { src: "/system/cards/pictures/000/000/"+pCard.id+"/original/"+pCard.picture_file_name }).prependTo("#dealer-cards");
    }
    // *********************************SHOW CARDS VALUE****************************************
    var playerNumber=parseInt($("#dealer-number").text())
    $('#dealer-number').empty();
    $("#dealer-number").prepend(playerNumber+pCard.value);
    var dealer_number=parseInt($("#dealer-number").text())
    if (pCard.value==11){
      dAces+=1;
      $( "#stay" ).trigger( "click" );
    };
  }
  if (parseInt($("#dealer-number").text()) >= parseInt($("#player-number").text()) && parseInt($("#dealer-number").text()) < 22 ){
    alert("Dealer Wins!")
    $("#stay").attr('disabled', true)
  } else{
    dealerAces(parseInt($("#dealer-number").text()),dAces)
  }

});

// *********************************RESTART****************************************
$("#restart").click(function(){
  $("#start").removeClass("loading")
  $("#start").removeAttr('disabled')
  $("#hit").attr('disabled', true)
  $("#stay").attr('disabled', true)
  $('#player-cards').empty();
  $('#player-number').empty();
  $('#dealer-cards').empty();
  $('#dealer-number').empty();
  pAces=0
  dAces=0
});

</script>
